:root {
}

.header {
    font-size: 120px;
    -unity-text-align: upper-center;
    -unity-text-outline-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    align-self: stretch;
    margin-top: 128px;
}

.button {
    width: 240px;
    height: 128px;
    align-self: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    font-size: 64px;
    margin-top: 40px;
    transition-duration: 0.35s;
}

.button:hover {
    scale: 1.1 1.1;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.text {
    align-self: center;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

.image {
    background-image: none;
    justify-content: space-around;
    align-self: center;
    margin-top: 128px;
}
